# Python
__pycache__/
*.py[cod]
*.so

# Virtual Environment
venv/
env/

# Environment Variables
.env

# IDE
.idea/
.vscode/

# Database
*.db
*.sqlite3

# Logs
*.log

# Distribution / packaging
dist/
build/
*.egg-info/

# Test coverage
.coverage
htmlcov/

# Local development
.DS_Store